<h1>Exercises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Workout Type</th>
      <th>Muscle Worked</th>
      <th>Equipment Used</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |w| %>
      <tr>
        <td><%= w.name %></td>
        <td><%= w.workout_type %></td>
        <td><%= w.muscle_worked %></td>
        <td><%= w.equipment %></td>
        <td><%= w.difficulty %></td>
        <td class="list_actions">
          <%= link_to 'Show', admin_workout_path(w) %><br/>
          <%= link_to 'Edit', edit_admin_workout_path(w) %><br/>
          <%= link_to 'Destroy', admin_workout_path(w), method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Workout", new_admin_workout_path %>
<%= form_tag import_admin_workouts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
