<h1>Exercises</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Workout Type</th>
      <th>Muscle Worked</th>
      <th>Equipment Used</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |w| %>
      <tr>
        <td><%= w.name %></td>
        <td><%= w.workout_type %></td>
        <td><%= w.muscle_worked %></td>
        <td><%= w.equipment %></td>
        <td><%= w.difficulty %></td>
      </tr>
    <% end %>
  </tbody>
</table>
