<%= form_for @workout_plan do |f| %>
  <div>
    <strong><br><%= f.label :gender, "Gender" %></br></strong>
    <br><%= f.radio_button :gender, "Male" %> Male</br>
    <br><%= f.radio_button :gender, "Female" %> Female</br>
  </div>

  <div>
    <strong><br><%= f.label :age, "Age" %></br></strong>
    <br><%= f.text_field :age %></br>
  </div>

  <div>
    <strong><br><%= f.label :height, "Height" %></br></strong>
    <br>Feet: <%= f.number_field :height %> Inches: <%= f.number_field :height %> </br>
  </div>

  <div>
    <strong><br><%= f.label :weight, "Weight" %></br></strong>
    <br><%= f.number_field :weight %> pounds</br>
  </div>

  <div>
    <strong><br><%= f.label :fitness_level, "Fitness Level" %></br></strong>
    <br><%= f.radio_button :fitness_level, "Beginner" %> Beginner</br>
    <br><%= f.radio_button :fitness_level, "Intermediate" %> Intermediate</br>
    <br><%= f.radio_button :fitness_level, "Advanced" %> Advanced</br>
  </div>

  <div>
    <strong><br><%= f.label :goal, "Goal" %></br></strong>
    <br><%= f.radio_button :goal, "Weight/Fat Loss" %> Weight/Fat Loss</br>
    <br><%= f.radio_button :goal, "Build Muscle" %> Build Muscle</br>
    <br><%= f.radio_button :goal, "Increase Stength" %> Increase Stength</br>
    <br><%= f.radio_button :goal, "Healthy Lifestyle" %> Healthy Lifestyle</br>
  </div>

  <br><%= f.submit 'Submit' %></br>

<% end %>
