<h1>Current Workout Plan </h1>
<% @workout_plan.each do |wp| %>
  <%= link_to "Update Plan", workout_plan_path(wp) %>
<% end %>

<%  @current_workout_plan.each do |key, value| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
      	<%= key %>
      </h3>
    </div>
    <div class="panel-body">
      <% value.each do |i| %>
        <br><%= i.name if key == key %></br>
        <% if i.name != "Rest" && i.name != "Cardio" %>
          <% @sets.each do |k, v| %>
            <%= "Sets: #{v}"   %>
          <% end %>
          <% @reps.each do |k, v| %>
            <%= "Reps: #{v}"   %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
