<% if current_user %>
  <div class="w3-top">
    <div class="w3-center w3-white w3-wide w3-padding-small w3-card-2">
      <li href="#home" class="w3-bar-item w3-button">
        <b><%= link_to "Be More Fitness", root_path %></b>
      </li>

      <br><div class="w3-center w3-hide-small">
        <li href="#CurrentPlan" class="w3-bar-item w3-button">
          <%= link_to "Current Workout Plan", current_plan_path %>
        </li>
        <li href="#CurrentPlan" class="w3-bar-item w3-button">
          <%= link_to "New Workout Plan", new_workout_plan_path %>
        </li>
        <li href="#CurrentPlan" class="w3-bar-item w3-button">
          <%= link_to "Profile", profile_path %>
        </li>
        <li href="#CurrentPlan" class="w3-bar-item w3-button">
          <%= link_to "Administration", rails_admin_path %>
        </li>
        <% if current_user %>
          <li href="#CurrentPlan" class="w3-bar-item w3-button">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </div></br>
    </div>
  </div>
<% end %>
