<ul class="nav nav-pills">
  <li class="active">
    <a <%= link_to "Home", root_path %></a>
  </li>
  <li>
    <%= link_to "Profile", profile_path %>
  </li>
  <li>
    <%= link_to "Current Workout Plan", workout_plans_path %>
  </li>
  <li>
    <%= link_to "New Workout Plan", new_workout_plan_path %>
  </li>
  <li class="pull-right">
    <%= link_to "Administration", admin_dashboard_index_path %>
  </li>
  <li class="pull-right">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </li>
</ul>
